<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask RESTFUL API</title>
</head>
<body>

<h2>Information about URLs</h2>
<br>

<h4>/scrapnews;</h4>
<p>Will scrap news around the world.</p>
<hr />
<h4>/scraptechnews;</h4>
<p>Will scrap technology news.</p>
<hr />
<h4>/savenews;</h4>
<p>Saves scrapped data to MySQL db.</p>
<hr />
<h4>/savetech;</h4>
<p>Saves scrapped data to MySQL db.</p>
<hr />
<h4>/news;</h4>
<p>Shows data from DB.</p>
<hr />
<h4>/technews;</h4>
<p>Shows data from DB.</p>
<hr />
<h4>/delnews;</h4>
<p>Delete all news from db.</p>
<hr />
<h4>/deltechnews;</h4>
<p>Delete all tech. news from db.</p>
<hr />
<h4>/search;</h4>
<p>You can search any news from both news and technology news table.</p>
<hr />


<p> A RESTFUL API example with Flask.</p>

</body>
</html>